body,
html {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin-left: 30px;
    color: #db6e14;
    display: flex;
}


h2 {
    margin-left: 8px;
    margin-bottom: 2%;
    color: #db6e14;
    padding-bottom: auto;

}

hr {
    color: rgba(211, 211, 211, 0.752);
    border: 1px solid rgba(211, 211, 211, 0.752);
}

.title {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.content {
    display: auto;
    padding: 20px;
    flex-grow: 1;
    align-items: center;

}

ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

li {
    margin-bottom: 10px;
    padding-left: 3%;
}

a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
    text-align: center;
}

a:hover {
    color: #e8a85a;
}

p {
    color: #888;
}



.footnote {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 0;
    font-size: 14px;
    color: #888;
}

.logout-button {
    display: inline-block;
    padding-right: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f57e00;
    color: #fff;
    /* Button text color */
    border: 2px solid #e68028d8;
    /* Border color */
    transition: background-color 0.3s ease, color 0.3s ease;
}


.logout-button:hover {
    background-color: #f69337f0;
    transform: scale(1.02);
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

.logout-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.badge {
    background-color: rgb(232, 136, 19);
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    margin: auto 0;

}


.utentes-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f57e00;
    color: #fff;
    /* Button text color */
    border: 2px solid #e68028d8;
    /* Border color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    ;
    color: #f57e00;
    margin: 20px 20px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;

}

.grid-item:hover {
    color: #f57e00;
    background-color: #f0f0f0a2;
    ;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);


}

.menu-icon {
    color: f57e00;
    margin-bottom: 35px;
    margin-top: 30px;
}

.add {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}