body,
html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* Defina a altura mínima do corpo para pelo menos a altura da visualização */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Altura mínima de 100% da altura da visualização */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

a {
    color: #f57e00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
}

/* Adicionado estilos para a seção de desenvolvedores */
.developer-section {
    margin-top: auto;
    /* Empurra a seção de desenvolvedores para o final da página */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}