body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin-left: 10px;
}

.title {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
    /* Allow the content to fill the available space */
    align-items: flex-start;
}

.medico-info {
    width: 30%;
}

.medico-info ul {
    list-style: none;
    padding: 0;
}

.medico-info li {
    margin-bottom: 10px;
}

.separator {
    border-right: 2px solid #ddd;
    height: 100%;
    margin-right: 20px;
}

.consultation-list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
}

.consultation-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.consultation-item .doctor-info {
    font-weight: bold;
    color: #007BFF;
}

.prescription-list,
.measurements-list,
.exams-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.prescription-heading,
.measurements-heading,
.exams-heading {
    font-weight: bold;
    color: #28A745;
    /* Different color for headings */
}

.prescription-list li,
.measurements-list li,
.exams-list li {
    display: inline-block;
    margin-right: 10px;
    /* Add spacing between items */
}

.footnote {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 0;
    font-size: 14px;
    color: #888;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f57e00;
    color: #fff;
    /* Button text color */
    border: 2px solid #e68028d8;
    /* Border color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #f69337f0;
    transform: scale(1.02);
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

.logout-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}