<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxiliar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/auxiliar.css' %}">
</head>
<body>
    
<div class="content">
    <ul class="consultation-list">
        {% for consulta in consultas_todas %}
            <li class="consultation-item">
                <p class="utente-info">Consulta prestada a {{ consulta.utente.nome }}</p>
                <p class="unidade-saude">UPCS: {{ consulta.unidade_saude }}</p>
                <p class="data-consulta">Data: {{ consulta.data }}</p>
                <p class="prescription-heading">Prescrições:</p>
                {% for prescricao in consulta.prescricoes.all %}
                    {% for medicamento in prescricao.medicamento.all %}
                        <ul class="prescription-list">
                            <li>Tomar {{ medicamento.nome }}, {{ prescricao.dose_diaria }} vezes ao dia |</li>
                            <li>Início da toma a: {{prescricao.inicio_toma}} |</li>
                            <li>Válida durante {{ prescricao.validade_prescricao }} meses |</li>
                        </ul>
                    {% endfor %}
                {% endfor %}
                <p class="measurements-heading">Medições:</p>
                <div class="measurements-op">
                    {% for medicao in consulta.medicoes.all %}
                        <ul class="measurements-list">
                            <li>{{ medicao.tipo }}: {{ medicao.valor }} {{ medicao.unidades }}</li>
                        </ul>
                    {% endfor %}
                </div>
                <p class="exams-heading">Exames:</p>
                {% for exame in consulta.exames.all %}
                    <ul class="exams-list">
                        <li>{{ exame.nome_exame }} |</li>
                        <li>Realizado a {{ exame.data_realizacao }} |</li>
                        <li>Resultado: {{ exame.resultado }} |</li>
                    </ul>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
