<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Enfermeiro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/medico.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1 class="">Ficha de {{ enfermeiro.primeiro_nome }}  {{ enfermeiro.apelido }} <span class="badge">{{user.groups.first}} </span> </h1>
            <div class="actions">
                <form method="post" action="{% url 'hospital:logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="enfermeiro-info">
                <ul>
                    <li><strong>Nome:</strong> {{ enfermeiro.primeiro_nome }}</li>
                    <li><strong>Data de Nascimento:</strong> {{ enfermeiro.data_nascimento }}</li>
                    <li><strong>Género:</strong> {{ enfermeiro.genero }}</li>
                    <li><strong>Contacto:</strong> {{ enfermeiro.telemovel }}</li>
                    <li><strong>Email:</strong> {{ enfermeiro.email }}</li>
                </ul>
                <ul>
                        <form method="get" action="{% url 'hospital:utentes' %}">
                            <button class="logout-button" type="submit">Utentes</button>
                        </form>
                    
                </ul>
            </div>
        </div>
        <div class="footnote">
            <p>Developed by Ricardo, Monica & Dinis</p>
        </div>
    </div>
</body>
</html>