<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/home.css' %}">
    <title>Pagina inicial</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'hospital:user_login' %}">Hospital</a></li>
    </ul>
    <div class="content">
        <a class="button" href="{% url 'hospital:estatisticas' %}">Estatísticas</a>
    </div>


    <div class="developer-section">
        <p>Developed by Ricardo, Monica & Dinis</p>
    </div>
</body>
</html>
