<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Auxiliar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/auxiliar.css' %}">
</head>
<body>

<div class="content">
    <h1>Bem-vindo, {{ user.username }}!</h1>
    <div class="button-list">
        <a href="{% url 'hospital:lista_consultas' id=id %}">Listar Consultas</a>

        <form method="post" action="{% url 'hospital:logout' %}">
            {% csrf_token %}
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

</body>
</html>
