
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/index.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1> Bem vindo {{user.username}} </h1>
            <div class="actions">
                <form method="post" action="{% url 'hospital:logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <ul>
                {% if utentes_familiares %}
                <div class="content-familiar">
                    <div class="familiar-info">
                        <ul>
                            <li><strong>Nome:</strong> {{ familiar.primeiro_nome }} {{familiar.apelido}}</li>
                            <li><strong>Data de Nascimento:</strong> {{ familiar.data_nascimento }}</li>
                            <li><strong>Género:</strong> {{ familiar.genero }}</li>
                            <li><strong>Contacto:</strong> {{ familiar.telemovel }}</li>
                            <li><strong>Email:</strong> {{ familiar.email }}</li>
                            <li><strong>Especialidade:</strong> {{ familiar.especialidade }}</li>
                        </ul>
                    </div>
                    <div class="utente">
                        <h2>Visite a ficha médica dos seus familiares</h2>
                    {% for utente in utentes_familiares %}
                        <li>
                            <button class= "botao" onclick="window.location='{% url 'hospital:utente' utente.id %}'">{{ utente.nome }} : {{ utente.primeiro_nome }} {{ utente.apelido }}</button>
                        </li>
                    
                    </div>
                </div>
                    {% endfor %}
                {% elif consultas_enfermeiro %}
                    {% for consulta in consultas_enfermeiro %}
                         <li>
                            <a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.nome }} : {{ consulta.utente.primeiro_nome }} {{ consulta.utente.apelido }} </a>
                        </li>
                    {% endfor %}
      
                    

 

                {% elif dados %}
                <div class="grid-container">
                        <a class="grid-item" href="{% url 'hospital:consultas' %}">
                            <i class="menu-icon fa-solid fa-calendar-days fa-2xl" ></i>
                            Consultas
                        </a>
                        <a class="grid-item" href="{% url 'hospital:utentes' %}">
                            <i class="menu-icon fa-solid fa-person fa-2xl" ></i>
                            Utentes
                        </a>
                        <a class="grid-item"  href="{% url 'hospital:medicos' %}">
                            <i class="menu-icon fa-solid fa-user-doctor fa-2xl" ></i>
                            Médicos
                        
                        
                        <a class="grid-item2" href="{% url 'hospital:add_consulta'%}">
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i>Consulta
                        </a>
                        <a class="grid-item2" href="{% url 'hospital:add_utente'%}"> 
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i>Utente
                        </a> 
                        <a class="grid-item2" href="{% url 'hospital:add_medico'%}">
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i> Médico
                        </a>  

                        <a class="grid-item" href="{% url 'hospital:enfermeiros' %}">
                            <i class="menu-icon fa-solid fa-syringe fa-2xl" ></i>
                            Enfermeiros
                        </a>
                        <a class="grid-item" href="{% url 'hospital:medicamentos' %}">
                            <i class="menu-icon fa-solid fa-capsules fa-2xl" ></i>
                            Medicamentos
                        </a>
                        <a class="grid-item" href="{% url 'hospital:familiares' %}">
                            <i class="menu-icon fa-solid fa-people-roof fa-2xl" ></i>
                            Familiares
                        </a>

                        <a class="grid-item2" href="{% url 'hospital:add_enfermeiro'%}"> 
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i>Enfermeiro
                        </a> 
                        <a class="grid-item2" href="{% url 'hospital:add_medicamento'%}"> 
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i>Medicamento
                        </a>  
                        <a class="grid-item2" href="{% url 'hospital:add_familiar'%}"> 
                            <i class="fa-solid fa-plus" style="  color: #db6e14; margin-right: 5px"></i>Familiar
                        </a>  
                </div>
    
                {% elif medicos %}
                    <h2>Médicos </h2>
                        <table>
                            <tr>
                            <th>ID do medico</th>
                            <th>Nome</th>
                            <th>Data de nascimento </th>
                            <th>Genero</th>
                            <th>Telemovel</th>
                            <th>Email</th>
                            </tr>
                        
                            {% for medico in medicos %}
                                <tr>
                                    <td><a href="{% url 'hospital:medico' medico.id %}">{{ medico.nome }} </td>
                                    <td><a href="{% url 'hospital:medico' medico.id %}">{{ medico.primeiro_nome }} {{ medico.apelido }}</td>
                                    <td><a>{{ medico.data_nascimento }}</td>
                                    <td><a>{{ medico.genero }}</td>
                                    <td><a>{{ medico.telemovel }}</td>
                                    <td><a>{{ medico.email }}</td>
                                </tr>           
                            {% endfor %}
                        </table>        

             
                {% elif familiares %}
                    <h2>Familiares </h2>
                        <table>
                            <tr>
                            <th>ID do familiar</th>
                            <th>Nome</th>
                            <th>Data de nascimento </th>
                            <th>Genero</th>
                            <th>Telemovel</th>
                            <th>Email</th>
                            </tr>
                        
                            {% for familiar in familiares %}
                                <tr>
                                    <td><a href="{% url 'hospital:familiar' familiar.id %}">{{familiar.nome }} </td>
                                    <td><a href="{% url 'hospital:familiar' familiar.id %}">{{familiar.primeiro_nome }} {{familiar.apelido }}</td>
                                    <td><a>{{familiar.data_nascimento }}</td>
                                    <td><a>{{familiar.genero }}</td>
                                    <td><a>{{familiar.telemovel }}</td>
                                    <td><a>{{familiar.email }}</td>
                                </tr>           
                            {% endfor %}
                        </table> 


        

                        {% elif consultas %}
                        <h2>Consultas </h2>
          
                            <table>
                                <tr>
                                <th>ID do utente</th>
                                <th>Nome</th>
                                <th>Médico</th>
                                <th>Data</th>
                                <th>UPCS</th>
                                </tr>
                            
                                {% for consulta in consultas %}    
                                <tr>
                                    <td><a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.nome }} </td>
                                    <td><a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.primeiro_nome }} {{ consulta.utente.apelido }}</td>
                                    <td><a href="{% url 'hospital:medico' consulta.medico.id %}">{{ consulta.medico.primeiro_nome }} {{ consulta.medico.apelido }}</td>
                                    <td>{{ consulta.data }}</td>
                                    <td>{{ consulta.unidade_saude }}</td>
                                </tr>           
                                {% endfor %}
                            </table>
        
        
        
        
                        {% elif utentes %}
                        <h2>Utentes </h2>
                            <table>
                                <tr>
                                <th>ID do utente</th>
                                <th>Nome</th>
                                <th>Data de nascimento </th>
                                <th>Genero</th>
                                <th>Telemovel</th>
                                <th>Email</th>
                                <th>Contacto de emergência</th>
                                <th>Seguro</th>
                                </tr>
                            
                                {% for utente in utentes %}
                                    <tr>
                                        <td><a href="{% url 'hospital:utente' utente.id %}">{{ utente.nome }} </td>
                                        <td><a href="{% url 'hospital:utente' utente.id %}">{{ utente.primeiro_nome }} {{ utente.apelido }}</td>
                                        <td><a>{{ utente.data_nascimento }}</td>
                                        <td><a>{{ utente.genero }}</td>
                                        <td><a>{{ utente.telemovel }}</td>
                                        <td><a>{{ utente.email }}</td>
                                        <td><a>{{ utente.contacto_emergencia }}</td>
                                        <td><a>{{ utente.tem_seguro }}</td>
                                    </tr>           
                                {% endfor %}
                            </table>
                         
                        
                        {% elif enfermeiros %}
                        <h2>Enfermeiros</h2>
                            <table>
                                <tr>
                                <th>ID do enfermeiro</th>
                                <th>Nome</th>
                                <th>Data de nascimento </th>
                                <th>Genero</th>
                                <th>Telemovel</th>
                                <th>Email</th>
                                </tr>
                            
                                {% for enfermeiro in enfermeiros %}
                                    <tr>
                                        <td><a href="{% url 'hospital:enfermeiro' enfermeiro.id %}">{{ enfermeiro.nome }} </td>
                                        <td><a href="{% url 'hospital:enfermeiro' enfermeiro.id %}">{{ enfermeiro.primeiro_nome }} {{ enfermeiro.apelido }}</td>
                                        <td><a>{{ enfermeiro.data_nascimento }}</td>
                                        <td><a>{{ enfermeiro.genero }}</td>
                                        <td><a>{{ enfermeiro.telemovel }}</td>
                                        <td><a>{{ enfermeiro.email }}</td>
                                    </tr>           
                                {% endfor %}
                            </table>
                     
        
                        {% elif medicamentos %}
                        <h2>Medicamentos</h2>
                        <table>
                            <tr>
                                <th>Nome do medicamento</th>
                                <th>Dosagem</th>
                                <th>Fabricante</th>
                                <th>Prescrição necessária</th>
                            </tr>
                                
                            {% for medicamento in medicamentos %}    
                                <tr>
                                    <td><a href="{% url 'hospital:medicamento' medicamento.id %}">{{ medicamento.nome }} </a></td>
                                    <td><a href="{% url 'hospital:medicamento' medicamento.id %}"> {{ medicamento.dosagem }} </a></td>
                                    <td><a href="{% url 'hospital:medicamento' medicamento.id %}"> {{ medicamento.fabricante }} </a></td>
                                    <td><a href="{% url 'hospital:medicamento' medicamento.id %}"> {{ medicamento.precisa_prescricao }} </a></td>
                                    
                                </tr>           
                            {% endfor %}
                         </table>
        
        
                       {% else %}
                            <p>Não há dados a mostrar</p>
                       {% endif %}
                    </ul>
                </div>
                <div class="footnote">
                    <p>Developed by Ricardo, Monica & Dinis</p>
                </div>
            </div>
        </body>
        </html>
        