<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/index.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1> Bem vindo {{user.username}} </h1>
            <div class="actions">
                <form method="post" action="{% url 'hospital:logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <ul>
                {% if utentes_familiares %}
                    {% for utente in utentes_familiares %}
                        <li>
                            <a href="{% url 'hospital:utente' utente.id %}">{{ utente.nome }} : {{ utente.primeiro_nome }} {{ utente.apelido }} </a>
                        </li>
                    {% endfor %}
                {% elif consultas_enfermeiro %}
                    {% for consulta in consultas_enfermeiro %}
                         <li>
                            <a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.nome }} : {{ consulta.utente.primeiro_nome }} {{ consulta.utente.apelido }} </a>
                        </li>
                    {% endfor %}
      
                {% elif dados %}
                <ul class="lista_links">
                    <li><a href="{% url 'hospital:consultas' %}">Consultas</a></li>
                    <li><a href="{% url 'hospital:utentes' %}">Utentes</a></li>
                    <li><a href="{% url 'hospital:medicos' %}">Médicos</a></li>
                    <li><a href="{% url 'hospital:enfermeiros' %}">Enfermeiros</a></li>
                    <li><a href="{% url 'hospital:medicamentos' %}">Medicamentos</a></li>
                    <li><a href="{% url 'hospital:familiares' %}">Familiares</a></li>
                </ul>


                {% elif medicos %}
                <h2> Estes são os médicos existentes na base de dados: </h2>
                    {% for medico in medicos %}
                        <li>
                            <a href="{% url 'hospital:medico' medico.id %}">{{ medico.nome }} : {{ medico.primeiro_nome }} {{ medico.apelido }} </a>
                        </li>
                    {% endfor %}
           
                {% elif familiares %}
                <h2> Estes são os familiares existentes na base de dados: </h2>
                    {% for familiar in familiares %}
                        <li>
                            <a href="{% url 'hospital:familiar' familiar.id %}">{{ familiar.nome }} : {{ familiar.primeiro_nome }} {{ familiar.apelido }} </a>
                        </li>
                    {% endfor %}

                {% elif consultas %}
                <h2> Estas são as consultas existentes na base de dados: </h2>
                    {% for consulta in consultas %}
                        <li><a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.nome }} : {{ consulta.data }}</li>
                    {% endfor %}

                {% elif utentes %}
                <h2> Estes são os utentes existentes na base de dados: </h2>
                    {% for utente in utentes %}
                         <li>
                            <a href="{% url 'hospital:utente' utente.id %}">{{ utente.nome }} : {{ utente.primeiro_nome }} {{ utente.apelido }} </a>
                        </li>
                    {% endfor %}
                
                {% elif enfermeiros %}
                <h2> Estes são os enfermeiros existentes na base de dados: </h2>
                    {% for enfermeiro in enfermeiros %}
                         <li>
                            <a href="{% url 'hospital:enfermeiro' enfermeiro.id %}">{{ enfermeiro.nome }} : {{ enfermeiro.primeiro_nome }} {{ enfermeiro.apelido }} </a>
                        </li>
                    {% endfor %}

                {% elif medicamentos %}
                <h2> Estes são os medicamentos existentes na base de dados: </h2>
                    {% for medicamento in medicamentos %}
                         <li>
                            <a href="{% url 'hospital:medicamento' medicamento.id %}">{{ medicamento.nome }} {{ medicamento.dosagem }} : {{ medicamento.fabricante }} </a>
                        </li>
                    {% endfor %}

               {% else %}
                    <p>Não há dados a mostrar</p>
               {% endif %}
            </ul>
        </div>
        <div class="footnote">
            <p>Developed by Ricardo, Monica & Dinis</p>
        </div>
    </div>
</body>
</html>
