<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Familiar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/index.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1> Bem vindo {{user.username}} </h1>
            <div class="actions">
                <form method="post" action="{% url 'hospital:logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <ul>
                {% if utentes_familiares %}
                    {% for utente in utentes_familiares %}
                        <li>
                            <a href="{% url 'hospital:utente' utente.id %}">{{ utente.nome }} :{{ utente.primeiro_nome }} {{ utente.apelido }} </a>
                        </li>
                    {% endfor %}
                {% elif consultas_enfermeiro %}
                    {% for consulta in consultas_enfermeiro %}
                         <li>
                            <a href="{% url 'hospital:utente' consulta.utente.id %}">{{ consulta.utente.nome }} :{{ consulta.utente.primeiro_nome }} {{ consulta.utente.apelido }} </a>
                        </li>
                    {% endfor %}
               {% elif dados %}
                    <ul class="lista_links">
                        <li>Consultas:</li>
                        <li>Utentes:</li>
                        <li>Médicos:</li>
                        <li>Enfermeiros:</li>
                        <li>Familiares:</li>
                        <li>Medicamentos:</li>
                    </ul>
                {% elif utentes %}
                    {% for utente in utentes %}
                         <li>
                            <a href="{% url 'hospital:utente' utente.id %}">{{ utente.nome }} :{{ utente.primeiro_nome }} {{ utente.apelido }} </a>
                        </li>
                    {% endfor %}
               {% else %}
                    <p>Não há dados a mostrar</p>
               {% endif %}
            </ul>
        </div>
        <div class="footnote">
            <p>Developed by Ricardo, Monica & Dinis</p>
        </div>
    </div>
</body>
</html>
