<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/logout.css' %}">
    <title>Logout</title>
</head>
<body>
    <div class="container">
        <h2>You have been successfully logged out.</h2>
        <p>Return to <a href="{% url 'hospital:user_login' %}">Login Page</a></p>
    </div>
    <div class="developer-section">
        <p>Developed by Ricardo, Monica & Dinis</p>
    </div>
    
</body>
</html>
