<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de utente</title>
    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'hospital/utente.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1 class="">Ficha de {{ consultas_utente.first.utente.primeiro_nome }} {{ consultas_utente.first.utente.apelido }} <span class="badge">{{user.groups.first}} </span></h1>
            <div class="actions">
                <form method="post" action="{% url 'hospital:logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="utente-info">
                <ul>
                    <li><strong>Nome:</strong> {{ consultas_utente.first.utente.primeiro_nome }} {{ consultas_utente.first.utente.apelido }}</li>
                    <li><strong>Data de Nascimento:</strong> {{ consultas_utente.first.utente.data_nascimento }}</li>
                    <li><strong>Género:</strong> {{ consultas_utente.first.utente.genero }}</li>
                    <li><strong>Contacto:</strong> {{ consultas_utente.first.utente.telemovel }}</li>
                    <li><strong>Email:</strong> {{ consultas_utente.first.utente.email }}</li>
                    <li><strong>Contacto de emergência:</strong> {{ consultas_utente.first.utente.contacto_emergencia }}</li>
                    <li><strong>Tem seguro:</strong> {{ consultas_utente.first.utente.tem_seguro }}</li>
                    <!-- Add other utente information here -->
                </ul>
            </div>
            <ul class="consultation-list">
                {% for consulta in consultas_utente %}
                    <li class="consultation-item">
                        <p class="doctor-info">Consulta prestada por {{ consulta.medico.primeiro_nome }}  {{ consulta.medico.apelido }}</p>
                        <p class="unidade-saude">UPCS: {{ consulta.unidade_saude }}</p>
                        <p class="data-consulta">Data: {{ consulta.data }}</p>
                        <p class="prescription-heading">Prescrições:</p>
                            {% for prescricao in consulta.prescricoes.all %}
                                <ul class="prescription-list">
                                    <li>Tomar {{ prescricao.medicamento.nome }}, {{prescricao.dose_diaria}} vezes ao dia |</li>
                                    <li>Início da toma a: {{prescricao.inicio_toma}} |</li>
                                    <li>Válida durante {{prescricao.validade_prescricao}} meses |</li>
                                </ul>
                            {% endfor %}
                        <p class="measurements-heading">Medições:</p>
                            {% for medicao in consulta.medicoes.all %}
                                <ul class="measurements-list">
                                    <li>{{ medicao.tipo }}: {{ medicao.valor }} {{ medicao.unidades }}</li>
                                </ul>
                            {% endfor %}
                        {% if user|is_enfermeiro %}
                            <a href="{% url 'hospital:add_medicao'  consulta_id=consulta.id prof='enfermeiro' profissional_id=consulta.utente.id utente_id=consulta.utente.id%}">
                            <button >Adicionar Medicao </button>
                        <a/>
                        {% endif %}
                        <p class="exams-heading">Exames:</p>
                            {% for exame in consulta.exames.all %}
                                <ul class="exams-list">
                                    <li>{{ exame.nome_exame }} |</li>
                                    <li>Realizado a {{ exame.data_realizacao }} |</li>
                                    <li>Resultado: {{ exame.resultado }} |</li>
                                </ul>
                            {% endfor %}
                            {% if user|is_enfermeiro %}
                                <a href="{% url 'hospital:add_exame'  consulta_id=consulta.id prof='enfermeiro' profissional_id=consulta.utente.id utente_id=consulta.utente.id%}">
                                <button >Adicionar Exame </button>
                                <a/>
                            {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
         <div class="footnote">
            <p>Developed by Ricardo, Monica & Dinis</p>
        </div>
    </div>
</body>
</html>
